* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo mais escuro */
    color: rgb(255, 255, 255);
    padding: 40px 0;
    text-align: center;
    border-bottom: 4px solid #880d02; /* Vermelho suave */
}

header .logo h1 {
    font-size: 3.5em;
    color: rgb(251, 0, 0);

    
}

header .logo p {
    font-size: 1.3em;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

header nav ul li {
    margin: 0 25px;
}

header nav ul li a {
    color: #900c0c;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
}

header nav ul li a:hover {
    color: #551211;
}


main {
    padding: 60px 20px;
    text-align: center;
}

.reserva {
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(3, 10, 18, 0.8); /* Fundo escuro e suave */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.reserva h2 {
    font-size: 2.8em;
    margin-bottom: 20px;
    color: rgb(251, 0, 0); /* Vermelho */
    


}

.reserva label {
    display: block;
    margin: 15px 0 5px;
    color: #ECF0F1;
    font-weight: 500;
}

.reserva input {
    width: 100%;
    padding: 14px;
    margin-bottom: 25px;
    border: 2px solid #34495E; /* Cor escura para os campos */
    border-radius: 6px;
    font-size: 1.1em;
    background-color: #34495E;
    color: white;
}

.reserva input:focus {
    border-color: #E74C3C; /* Linha vermelha quando em foco */
    outline: none;
}

.reserva button {
    background-color: #E74C3C; /* Botão vermelho */
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
}

.reserva button:hover {
    background-color: #D35400; /* Vermelho mais escuro */
}

#confirmacao {
    font-size: 1.3em;
    margin-top: 25px;
    color: #27AE60; /* Verde para confirmar */
}

.hidden {
    display: none;
}